@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Tiro+Gurmukhi:ital@0;1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 500px;
  padding: 20px 10px;
}

/* button start */

.btn {
  border: none;
  padding: 0.3em 0.8em;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-success {
  background-color: #256d85;
  color: #fff;
}

.btn-outline {
  background-color: #fff;
  border: 1px solid #cacaca;
}

.btn-outline:hover {
  background-color: rgb(243, 243, 243)
}

/* button end */

/* header start */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 30px;
}

.header__logo {
  font-size: 2em;
}

.header__logo span {
  color: #256d85;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 1em;
}

nav ul li a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* header end */

/* main start */

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-top: 50px;
}

#content__jumbotron {
  width: 100%;
  background-color: #333;
  padding: 120px 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #fff;
  position: relative;
}

#content__jumbotron h1 {
  font-size: 2em;
}

.content__book {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content__book .title {
  font-size: 1.3em;
}

.content__header {
  display: flex;
  justify-content: space-between;
}

.book_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.card_book {
  width: 200px;
  min-height: 380px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card_book img {
  width: 100%;
}

.card_book:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.card_book_title {
  font-size: 1em;
}

/* main end */

/* aside start */

aside {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/image-hero-desktop.jpg");
  padding: 100px 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-attachment: fixed;
  border-radius: 5px;
}

aside h1 {
  font-size: 1.5em;
}

aside .avatar {
  width: 180px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(255, 255, 255, 0.8) 0px 0px 0px 1px;
  padding: 10px;
}

.avatar img {
  border-radius: 100%;
}

aside ul li {
  font-size: 1em;
}

/* aside end */

/* footer start */

footer {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* footer end */

/* media query start */

@media screen and (max-width: 768px) {
  .card_book {
    width: 300px;
  }
}

/* media query end */
